/*
 Website Name: KALLYAS - Watch Unlimited Movie
 Author: SAGOR RANA
 Email: sagorranait@gmail.com

 ** import All the SCSS files here. **
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

#topcontrol {
  bottom: 30px !important;
  right: 30px !important;
}

@media (min-width: 100px) and (max-width: 320.5px) {
  .navbar-toggler i {
    color: #f10e1f;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: 0 0 0 .25rem;
            box-shadow: 0 0 0 .25rem;
  }
  .kallays-navbar .nav-item {
    text-align: right;
  }
  .kallays-navbar .navbar-search {
    margin: 5px 35px 5px 60px;
  }
  .kallays-navbar .kallyas-btn {
    padding: 0 0 0 35px !important;
    max-width: 130px;
    margin: 8px 34px 0 auto;
  }
  #kallaysHeader {
    height: auto !important;
    padding-bottom: 35px !important;
  }
  .kallays-hero {
    padding: 20px 0;
  }
  .kallays-hero .movie-description {
    height: 310px;
  }
  .kallays-hero .movie-description .movie-tags .tag, .kallays-hero .movie-description .right-align .tag {
    padding: 3px 9px !important;
  }
  .kallays-hero .movie-description .movie-tags .tag p, .kallays-hero .movie-description .right-align .tag p {
    font-size: 12px !important;
  }
  .kallays-hero .movie-description .movie-title {
    padding: 20px 0 15px;
  }
  .kallays-hero .movie-description .movie-title h1 {
    font-size: 19px;
  }
  .kallays-hero .movie-description .movie-short-description {
    padding-bottom: 20px;
  }
  .kallays-hero .movie-description .movie-buttons .movie-btn-one, .kallays-hero .movie-description .movie-buttons .movie-btn-two {
    padding: 10px 14px;
    font-size: 10px;
    margin-right: 0px;
  }
  .kallays-hero .movie-description .movie-buttons .movie-btn-two {
    padding: 10px 14px;
    font-size: 10px;
    margin-right: 0px;
  }
  .kallays-hero .movie-image {
    padding-top: 20px;
  }
  .kallays-hero .movie-image img {
    width: 100%;
  }
  .kallays-popular-serials {
    padding-top: 10px;
  }
  .kallays-popular-serials .serials-slider .serial {
    max-width: 205px;
  }
  .kallays-popular-serials .serials-slider .slick-prev {
    left: 250px !important;
    right: 50px;
    top: -46px !important;
  }
  .kallays-popular-serials .serials-slider .slick-next {
    top: -46px !important;
    right: 12px !important;
  }
  .kallays-popular-serials .serials-slider .slick-list {
    height: 220px;
  }
  .kallays-popular-serials .serials-slider .slick-track {
    height: 238px;
  }
  #singleMovie {
    height: 635px !important;
  }
  #singleMovie .teaser-video figure .video {
    height: 215px;
  }
  #singleMovie .right-align .tag {
    padding: 3px 6px;
  }
  #singleMovie .right-align .tag p {
    font-size: 12px;
  }
  #singleMovie .movie-title {
    padding: 20px 0 15px;
  }
  #singleMovie .movie-title h1 {
    font-size: 25px;
  }
  #singleMovie .movie-description {
    height: 350px;
  }
  #singleMovie .movie-description .movie-short-description p {
    font-size: 13px;
  }
  #singleMovie .movie-buttons .movie-btn-one, #singleMovie .movie-description .movie-buttons .movie-btn-two, .movie-description #singleMovie .movie-buttons .movie-btn-two {
    padding: 9px 16px;
    font-size: 10px;
    margin-right: 10px;
  }
  #trendsNow {
    height: auto !important;
  }
  #trendsNow .kallays-ads {
    padding: 35px 0;
  }
  #trendsNow .kallays-ads img {
    width: 100%;
  }
  #trendsNow .trending-movie .movies-isotope .button-group {
    padding-bottom: 31px !important;
    width: auto !important;
    margin-left: 0px !important;
  }
  #trendsNow .trending-movie .movies-isotope .button-group .button {
    margin-left: 0px;
    margin-right: 8px;
  }
  #trendsNow .trending-movie .movies-isotope .button-group .slick-prev {
    top: -57px !important;
    left: 251px !important;
  }
  #trendsNow .trending-movie .movies-isotope .button-group .slick-next {
    top: -57px !important;
    right: 12px !important;
  }
  #trendsNow .load-more {
    padding: 30px 0;
  }
  #trendsNow .movie-item {
    margin: 0px 37px;
  }
  #bestMovie {
    height: 315px !important;
  }
  #bestMovie .movie-tags .tag, #bestMovie .movie-description .right-align .tag, .movie-description #bestMovie .right-align .tag {
    padding: 3px 9px !important;
  }
  #bestMovie .movie-tags .tag p, #bestMovie .movie-description .right-align .tag p, .movie-description #bestMovie .right-align .tag p {
    font-size: 12px !important;
  }
  #bestMovie .movie-title {
    padding: 20px 0 15px;
  }
  #bestMovie .movie-title h1 {
    font-size: 20px;
  }
  #bestMovie .movie-description .movie-short-description {
    width: 100% !important;
  }
  #bestMovie .movie-description .movie-short-description p {
    font-size: 13px;
    max-width: 300px;
  }
  #bestMovie .movie-buttons .movie-btn-one, #bestMovie .movie-description .movie-buttons .movie-btn-two, .movie-description #bestMovie .movie-buttons .movie-btn-two {
    padding: 9px 16px;
    font-size: 10px;
    margin-right: 10px;
  }
  .single-part {
    height: 715px !important;
  }
  .single-part .teaser-video iframe {
    width: 100% !important;
    height: 165px !important;
  }
  .single-part .movie-tags .tag, .single-part .movie-description .right-align .tag, .movie-description .single-part .right-align .tag {
    padding: 3px 9px !important;
  }
  .single-part .movie-tags .tag p, .single-part .movie-description .right-align .tag p, .movie-description .single-part .right-align .tag p {
    font-size: 12px !important;
  }
  .single-part .movie-title {
    padding: 20px 0 15px;
  }
  .single-part .movie-title h1 {
    font-size: 20px !important;
  }
  .single-part .movie-description .movie-short-description p {
    font-size: 13px;
  }
  .single-part .movie-buttons .movie-btn-one, .single-part .movie-description .movie-buttons .movie-btn-two, .movie-description .single-part .movie-buttons .movie-btn-two {
    padding: 9px 16px !important;
    font-size: 10px !important;
    margin-right: 10px !important;
  }
  #movieBlogs {
    height: auto !important;
  }
  #movieBlogs .kallays-ads {
    padding: 30px 0;
  }
  #movieBlogs .kallays-ads img {
    width: 100%;
  }
  #movieBlogs .blogs-area .blog-top {
    height: auto !important;
  }
  #movieBlogs .blogs-area .load-more {
    padding: 30px 0 !important;
  }
  #movieBlogs .blog-left .blog-shotContent h2 {
    font-size: 25px;
    padding: 20px 0 15px;
  }
  #movieBlogs .blog-right {
    border-left: 0px !important;
    padding-left: 0px !important;
  }
  .blog-bottom {
    padding-top: 40px;
  }
  .blog-bottom .blog-items {
    margin-bottom: 25px;
  }
  #kallyasFooter {
    height: auto !important;
    text-align: center;
  }
  #kallyasFooter .footer-about .partners .stars {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-bottom: 35px;
  }
  #kallyasFooter .footer-about .partners .stars .star {
    margin-right: 15px;
  }
  #kallyasFooter .footer-about .partners .stars .star:last-child {
    margin-right: 0px;
  }
  #kallyasFooter .footer-about .social-media {
    padding-bottom: 35px;
  }
  .kallays-mylist {
    padding-top: 30px !important;
    text-align: center;
  }
  .kallays-mylist .kallays-mylist h3 {
    font-size: 23px !important;
    font-weight: 600 !important;
  }
  .kallays-mylist .movie-item {
    margin: 0 auto 40px !important;
    text-align: left;
  }
  #kallayMovieHeader {
    height: auto !important;
    padding-bottom: 35px !important;
  }
  #kallayMovieHeader .kallays-movies .single-movie {
    padding: 35px 0;
  }
  #kallayMovieHeader .kallays-movies .single-movie .singleMove-image {
    height: 240px !important;
  }
  #kallayMovieHeader .kallays-movies .single-movie .singleMove-image img {
    -o-object-position: center;
       object-position: center;
  }
  #kallayMovieHeader .kallays-movies .singleMovie-content .content-title {
    padding-bottom: 25px;
  }
  #kallayMovieHeader .kallays-movies .singleMovie-content .content-title .title-text {
    width: 354px;
  }
  #kallayMovieHeader .kallays-movies .singleMovie-content .content-title .title-text h2 {
    font-size: 20px !important;
    padding-bottom: 35px !important;
  }
  #kallayMovieHeader .kallays-movies .singleMovie-content .content-title .title-text li {
    font-size: 12px;
    padding-bottom: 8px;
  }
  #kallayMovieHeader .kallays-movies .singleMovie-content .content-title .btn-rating .movie-btn-two {
    padding: 10px 11px !important;
    font-size: 10px !important;
    margin-right: 1px !important;
  }
  #kallayMovieHeader .kallays-movies .singleMovie-content .content-title .btn-rating .rating {
    text-align: center;
    padding-top: 10px;
  }
  #kallayMovieHeader .kallays-movies .singleMovie-content .content-description p {
    font-size: 13px;
    padding-bottom: 13px;
  }
  #kallayMovieHeader .kallays-movies .singleMovie-content {
    padding-top: 35px;
  }
  .singleMovie-trailer .blog-item {
    padding: 15px 0 0px;
  }
  .singleMovie-trailer iframe {
    width: 100% !important;
    height: 280px !important;
    padding-top: 35px;
  }
  #topcontrol {
    bottom: 15px !important;
    right: 15px !important;
  }
  #topcontrol img {
    width: 48px !important;
  }
  #kallayHeader {
    height: auto !important;
  }
  #kallayHeader .blog-left .blog-shotContent h2 {
    font-size: 25px !important;
    padding: 25px 0;
  }
}

/*
 Website Name: KALLYAS - Watch Unlimited Movie
 Author: SAGOR RANA
 Email: sagorranait@gmail.com

 ** import All the SCSS files here. **
*/
#kallaysHeader {
  width: 100%;
  height: 925px;
  background-image: url("../images/header-background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

#kallaysHeader:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.kallays-popular-serials {
  padding-top: 30px;
}

.kallays-popular-serials h3 {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.kallays-popular-serials .serials-slider {
  width: 100%;
  height: 222px;
  margin-top: 25px;
  position: relative;
}

.kallays-popular-serials .serials-slider .serial {
  width: 220px !important;
  height: 220px;
  background-color: #f10e1f;
  margin-right: 15px;
}

.kallays-popular-serials .serials-slider .serial img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.kallays-popular-serials .serials-slider .slick-prev {
  position: absolute;
  top: 110px;
  left: -45px;
  cursor: pointer;
}

.kallays-popular-serials .serials-slider .slick-next {
  position: absolute;
  top: 110px;
  right: -45px;
  cursor: pointer;
}

#bestMovie {
  background-image: url("../images/best-movie.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
  padding: 7.6% 0;
}

#bestMovie::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #000000;
  opacity: 0.8;
}

#bestMovie .movie-description {
  position: relative;
  height: auto;
}

#bestMovie .movie-description .movie-short-description {
  width: 400px;
}

.single-part {
  width: 100%;
  height: 530px;
  padding: 30px 0;
  background-image: url("../images/single-movie-bg1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#movieBlogs {
  width: 100%;
  height: 1365px;
  background: #020d18;
}

#movieBlogs .blogs-area .blog-top {
  width: 100%;
  height: 520px;
}

#movieBlogs .blogs-area .blog-top .blog-right {
  border-left: 1px solid #4c4c4c;
  height: 100%;
  padding-left: 35px;
}

#movieBlogs .blogs-area .load-more {
  padding-top: 55px;
  text-align: center;
}

#movieBlogs .blogs-area .load-more .movie-btn-two {
  color: #fff;
  background: #15202b;
  padding: 14px 22px;
  border-radius: 50px;
  color: "";
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  border: 1px solid #15202b;
  margin-right: 25px;
}

#movieBlogs .blogs-area .load-more .movie-btn-two i {
  padding-right: 10px;
}

.kallays-mylist {
  position: relative;
  padding-top: 75px;
}

.kallays-mylist h3 {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.kallays-mylist .movie-item {
  margin: 0 15px 40px 0;
}

.kallays-mylist .movie-item .movie-icon .listed i {
  color: #f10e1f;
}

.kallays-mylist .movie-item .movie-icon .watched i {
  color: #f10e1f;
}

#kallayHeader {
  width: 100%;
  height: 1550px;
  position: relative;
  background: #020d18;
}

#kallayHeader::before {
  content: '';
  width: 100%;
  height: 750px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/header-background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.kallays-singleBlog {
  position: relative;
  padding-top: 50px;
}

.kallays-singleBlog .singleBlog-content {
  width: 100%;
}

.kallays-singleBlog .singleBlog-content .singleBlog-image {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.kallays-singleBlog .singleBlog-content .singleBlog-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.kallays-singleBlog .singleBlog-content .singleBlog-title {
  padding-top: 45px;
}

.kallays-singleBlog .singleBlog-content .singleBlog-title h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

.kallays-singleBlog .singleBlog-content .singleBlog-links {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.kallays-singleBlog .singleBlog-content .singleBlog-links .links {
  padding-right: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.kallays-singleBlog .singleBlog-content .singleBlog-links .links i {
  padding-right: 8px;
}

.kallays-singleBlog .singleBlog-content .singleBlog-text {
  padding-bottom: 50px;
}

.kallays-singleBlog .singleBlog-content .singleBlog-text p {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
}

.kallays-singleBlog .singleBlog-content .singleBlog-share {
  padding-bottom: 50px;
}

.kallays-singleBlog .singleBlog-content .singleBlog-share h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.kallays-singleBlog .singleBlog-content .singleBlog-share .share {
  padding-top: 20px;
}

.kallays-singleBlog .singleBlog-content .singleBlog-share .share i {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding-right: 15px;
}

.kallays-singleBlog .singleBlog-content .singleBlog-nextPre {
  border-top: 1px solid #4c4c4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.kallays-singleBlog .singleBlog-content .singleBlog-nextPre .next, .kallays-singleBlog .singleBlog-content .singleBlog-nextPre .pre {
  width: 340px;
}

.kallays-singleBlog .kallays-sidebar .sidebar-title {
  border-bottom: 1px solid #fff;
}

.kallays-singleBlog .kallays-sidebar .sidebar-title h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.kallays-singleBlog .kallays-sidebar .sidebar-search {
  margin-bottom: 40px;
}

.kallays-singleBlog .kallays-sidebar .sidebar-search .input-group {
  border: 1px solid #fff;
  padding: 10px;
}

.kallays-singleBlog .kallays-sidebar .sidebar-search .input-group .form-control {
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.kallays-singleBlog .kallays-sidebar .sidebar-search .input-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.kallays-singleBlog .kallays-sidebar .sidebar-search .input-group .form-control::-webkit-input-placeholder {
  color: #fff;
}

.kallays-singleBlog .kallays-sidebar .sidebar-search .input-group .form-control:-ms-input-placeholder {
  color: #fff;
}

.kallays-singleBlog .kallays-sidebar .sidebar-search .input-group .form-control::-ms-input-placeholder {
  color: #fff;
}

.kallays-singleBlog .kallays-sidebar .sidebar-search .input-group .form-control::placeholder {
  color: #fff;
}

.kallays-singleBlog .kallays-sidebar .sidebar-search .input-group .input-group-text {
  background: none;
  border-width: 0px 0px 0px 1px;
}

.kallays-singleBlog .kallays-sidebar .sidebar-links {
  margin-bottom: 40px;
}

.kallays-singleBlog .kallays-sidebar .sidebar-links li {
  list-style: none;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.kallays-singleBlog .kallays-sidebar .sidebar-links li span {
  width: 25px;
  height: 1px;
  display: block;
  background: #fff;
  margin-right: 15px;
}

.kallays-singleBlog .kallays-sidebar .sidebar-links li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

.kallays-singleBlog .kallays-sidebar .sidebar-recentPost {
  margin-bottom: 40px;
}

.kallays-singleBlog .kallays-sidebar .sidebar-recentPost .post-items .blog-item {
  padding: 12.5px 0;
  border-bottom: 1px solid #fff;
}

.kallays-singleBlog .kallays-sidebar .sidebar-recentPost .post-items .blog-item:last-child {
  border-bottom: 0px;
}

.kallays-singleBlog .blogs .blog-left {
  margin-bottom: 25px;
}

.kallays-singleBlog .blogs .load-more {
  padding-top: 0px;
  text-align: center;
}

.kallays-singleBlog .blogs .load-more .movie-btn-two {
  color: #fff;
  background: #15202b;
  padding: 14px 22px;
  border-radius: 50px;
  color: "";
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  border: 1px solid #15202b;
  margin-right: 25px;
}

.kallays-singleBlog .blogs .load-more .movie-btn-two i {
  padding-right: 10px;
}

.kallays-singleBlog .blogs .blog-bottom {
  padding-top: 50px;
}

#kallayMovieHeader {
  width: 100%;
  height: 1830px;
  position: relative;
  background: #020d18;
}

#kallayMovieHeader::before {
  content: '';
  width: 100%;
  height: 750px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/movies/pushpa-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.kallays-movies {
  width: 100%;
  position: relative;
}

.kallays-movies .single-movie {
  padding: 80px 0;
}

.kallays-movies .single-movie .singleMove-image {
  width: 100%;
  height: 585px;
}

.kallays-movies .single-movie .singleMove-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.kallays-movies .single-movie .singleMovie-content .content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 46px;
}

.kallays-movies .single-movie .singleMovie-content .content-title .title-text {
  width: 850px;
}

.kallays-movies .single-movie .singleMovie-content .content-title .title-text h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 55px;
}

.kallays-movies .single-movie .singleMovie-content .content-title .title-text li {
  color: #b0b0b0;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 12px;
  list-style: none;
}

.kallays-movies .single-movie .singleMovie-content .content-title .title-text li span {
  color: #37a3df;
}

.kallays-movies .single-movie .singleMovie-content .content-title .btn-rating {
  width: 216px;
}

.kallays-movies .single-movie .singleMovie-content .content-title .btn-rating .movie-btn-two {
  color: #fff;
  background: #000000;
  padding: 14px 22px;
  border-radius: 50px;
  color: "";
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  border: 1px solid #000000;
  margin-right: 25px;
}

.kallays-movies .single-movie .singleMovie-content .content-title .btn-rating .movie-btn-two i {
  padding-right: 10px;
}

.kallays-movies .single-movie .singleMovie-content .content-title .btn-rating .rating i {
  color: #f4b01e;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.kallays-movies .single-movie .singleMovie-content .content-title .btn-rating .rating span {
  color: #37a3df;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.kallays-movies .single-movie .singleMovie-content .content-description p {
  color: #b0b0b0;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 15px;
}

/* Navbar Area Start */
.kallays-navbar .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding-right: 37px !important;
}

.kallays-navbar .nav-link.active {
  color: #f10e1f;
  font-weight: 700;
}

.kallays-navbar .navbar-search {
  margin: 0 35px 0 60px;
  position: relative;
}

.kallays-navbar .navbar-search .form-control {
  padding: 5px 0;
  font-size: 14px;
  color: #f10e1f;
  background: none;
  border-color: #f10e1f;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
}

.kallays-navbar .navbar-search .form-control::-webkit-input-placeholder {
  color: #f10e1f;
}

.kallays-navbar .navbar-search .form-control:-ms-input-placeholder {
  color: #f10e1f;
}

.kallays-navbar .navbar-search .form-control::-ms-input-placeholder {
  color: #f10e1f;
}

.kallays-navbar .navbar-search .form-control::placeholder {
  color: #f10e1f;
}

.kallays-navbar .navbar-search .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.kallays-navbar .navbar-search .search-icon {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
}

.kallays-navbar .navbar-search .search-icon i {
  font-size: 14px;
  color: #f10e1f;
}

.kallays-navbar .kallyas-btn {
  color: #fff;
  background: #f10e1f;
  padding: 0 0 0 26px;
  border-radius: 50px;
}

/* Navbar Area End */
.kallays-hero {
  position: relative;
  z-index: 1;
  padding: 30px 0;
}

.kallays-hero .movie-image {
  text-align: center;
}

.kallays-hero .movie-image img {
  -webkit-box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.48);
}

.movie-description {
  width: 100%;
  height: 495px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movie-description .movie-tags, .movie-description .right-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.movie-description .movie-tags .tag, .movie-description .right-align .tag {
  border-radius: 2px;
  padding: 5px 9px;
  margin-right: 13px;
}

.movie-description .movie-tags .tag p, .movie-description .right-align .tag p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.movie-description .movie-tags .tag.tag-year, .movie-description .right-align .tag.tag-year {
  background: #f4b01e;
}

.movie-description .movie-tags .tag.tag-action, .movie-description .right-align .tag.tag-action {
  background: #37a3df;
}

.movie-description .movie-tags .tag.tag-adventure, .movie-description .right-align .tag.tag-adventure {
  background: #df5f37;
}

.movie-description .right-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.movie-description .movie-title {
  padding: 24px 0 30px;
}

.movie-description .movie-title h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  margin: 0;
  text-transform: uppercase;
}

.movie-description .title-right {
  text-align: right;
}

.movie-description .movie-short-description {
  padding-bottom: 35px;
}

.movie-description .movie-short-description p {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  line-height: 23px;
  margin: 0;
}

.movie-description .description-right {
  text-align: right;
}

.movie-description .movie-buttons .movie-btn-one, .movie-description .movie-buttons .movie-btn-two {
  color: #fff;
  background: #f10e1f;
  padding: 14px 22px;
  border-radius: 50px;
  color: "";
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  border: 1px solid #f10e1f;
  margin-right: 25px;
}

.movie-description .movie-buttons .movie-btn-one i, .movie-description .movie-buttons .movie-btn-two i {
  padding-right: 10px;
}

.movie-description .movie-buttons .movie-btn-two {
  color: #fff;
  background: #000000;
  padding: 14px 22px;
  border-radius: 50px;
  border: 1px solid #000000;
}

.movie-description .button-right {
  text-align: right;
}

.movie-description .button-right .movie-btn-two {
  margin-right: 0;
}

#singleMovie {
  width: 100%;
  height: 530px;
  background-image: url("../images/single-movie-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px 0;
}

.teaser-video {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.teaser-video:hover .teaser-controls .teaser-play {
  opacity: 1;
}

.teaser-video figure {
  width: 100%;
  position: relative;
}

.teaser-video figure video {
  width: 100%;
  height: 400px;
}

.teaser-video figure .teaser-controls {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.teaser-video figure .teaser-controls .teaser-play {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.teaser-video figure .teaser-controls .teaser-play .video-play, .teaser-video figure .teaser-controls .teaser-play .video-push {
  width: 70px;
  position: relative;
  cursor: pointer;
}

.teaser-video figure .teaser-controls .teaser-play .video-push {
  position: absolute;
  top: 0;
  left: 0;
}

.teaser-video figure .teaser-controls .teaser-buttom {
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 35px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.teaser-video figure .teaser-controls .teaser-buttom .teaser-bar {
  width: 580px;
  height: 5px;
  border-radius: 50px;
  background: #15202b;
  margin: 3px 11px 0 0;
}

.teaser-video figure .teaser-controls .teaser-buttom .teaser-bar .teaser-juice {
  width: 1%;
  height: 5px;
  border-radius: 50px;
  background: #f10e1f;
}

.teaser-video figure .teaser-controls .teaser-buttom .teaser-sound .video-volume, .teaser-video figure .teaser-controls .teaser-buttom .teaser-sound .video-mute {
  width: 15px;
  position: relative;
  cursor: pointer;
}

.teaser-video figure .teaser-controls .teaser-buttom .teaser-sound .video-mute {
  position: absolute;
  top: 0;
  right: 15px;
}

#trendsNow {
  width: 100%;
  height: 1185px;
  background: #000000;
}

#trendsNow .trending-movie h3 {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 35px;
}

#trendsNow .trending-movie .load-more {
  text-align: center;
}

#trendsNow .trending-movie .load-more .movie-btn-two {
  color: #fff;
  background: #4c4c4c;
  padding: 14px 22px;
  border-radius: 50px;
  color: "";
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  border: 1px solid #4c4c4c;
  margin-right: 25px;
}

#trendsNow .trending-movie .load-more .movie-btn-two i {
  padding-right: 10px;
}

#trendsNow .trending-movie .movies-isotope .button-group {
  padding-bottom: 40px;
  width: 1015px;
  position: relative;
  margin-left: 50px;
}

#trendsNow .trending-movie .movies-isotope .button-group button {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  background: #15202b;
  border: 1px solid #15202b;
  padding: 5px 11px;
  border-radius: 50px;
  margin-left: 27px;
  width: 85px !important;
}

#trendsNow .trending-movie .movies-isotope .button-group .is-checked {
  background: #f10e1f;
  border: 1px solid #f10e1f;
}

#trendsNow .trending-movie .movies-isotope .button-group .slick-prev {
  position: absolute;
  top: 3px;
  left: -10px;
}

#trendsNow .trending-movie .movies-isotope .button-group .slick-next {
  position: absolute;
  top: 3px;
  right: -35px;
}

.kallays-ads {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.movie-item {
  width: 220px;
  margin: 0 15px 70px 0;
}

.movie-item .movie-image {
  width: 100%;
  height: 196px;
  overflow: hidden;
  position: relative;
}

.movie-item .movie-image::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.4;
}

.movie-item .movie-image img {
  width: 100%;
}

.movie-item .movie-title {
  padding: 25px 0 20px;
}

.movie-item .movie-title h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.movie-item .about-movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.movie-item .about-movie .movie-year {
  width: 118px;
}

.movie-item .about-movie .movie-year p {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin: 0;
}

.movie-item .about-movie .movie-icon {
  width: 60px;
}

.movie-item .about-movie .movie-icon a {
  padding-right: 10px;
}

.movie-item .about-movie .movie-icon a i {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin: 0;
}

.movie-item .about-movie .movie-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.movie-item .about-movie .movie-rating a {
  padding-right: 6px;
}

.movie-item .about-movie .movie-rating a:last-child {
  padding-right: 0;
}

.movie-item .about-movie .movie-rating a i {
  color: #f4b01e;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin: 0;
}

.movie-item .about-movie .movie-rating p {
  color: #f4b01e;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin: 0;
}

.blog-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 37px 0 0px;
}

.blog-item .blogItem-image {
  width: 85px;
  height: 85px;
  overflow: hidden;
  margin-right: 25px;
}

.blog-item .blogItem-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blog-item .blogItem-content p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin: 0;
}

.blog-item .blogItem-content a {
  color: #4c4c4c;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.blog-item .blogItem-content a:hover {
  color: #fff;
}

.blog-left {
  width: 100%;
  height: 100%;
}

.blog-left .blog-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blog-left .blog-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blog-left .blog-shotContent h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  padding: 55px 0 30px;
}

.blog-left .blog-shotContent p {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 10px;
}

.blog-left .blog-shotContent a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-decoration: none;
}

.blog-left .blog-shotContent a i {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  padding-left: 5px;
}

.blog-bottom {
  padding-top: 80px;
}

.blog-bottom .blog-items {
  width: 100%;
  position: relative;
}

.blog-bottom .blog-items .blogItems-image {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.blog-bottom .blog-items .blogItems-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.blog-bottom .blog-items .blogItems-content {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.blog-bottom .blog-items .blogItems-content a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  line-height: 24px;
  margin: 0;
  text-decoration: none;
}

#kallyasFooter {
  width: 100%;
  height: 450px;
  background: #000B15;
  padding: 55px 0;
}

#kallyasFooter .footer-about .logo img {
  padding-bottom: 30px;
}

#kallyasFooter .footer-about .logo p {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

#kallyasFooter .footer-about .logo p a {
  text-decoration: none;
  color: #fff;
}

#kallyasFooter .footer-about .partners {
  padding-top: 40px;
}

#kallyasFooter .footer-about .partners h3 {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 15px;
}

#kallyasFooter .footer-about .partners .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 50px;
}

#kallyasFooter .footer-about .partners .stars .star {
  width: 40px;
  height: 40px;
  background: #212121;
  border-radius: 50px;
  text-align: center;
  margin-right: 15px;
}

#kallyasFooter .footer-about .partners .stars .star i {
  color: #b0b0b0;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 40px;
}

#kallyasFooter .footer-about .social-media i {
  color: #b0b0b0;
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  padding-right: 15px;
}

#kallyasFooter .footer-links h3 {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 22px;
}

#kallyasFooter .footer-links .links a {
  color: #656565;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-decoration: none;
  padding-bottom: 20px;
  padding-bottom: 10px;
  display: block;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#kallyasFooter .footer-links .links a:hover {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */