#kallaysHeader {
  width: 100%;
  height: 925px;
  @include backgroundImage('../images/header-background.png');
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.3) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.3) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.3) 100%
    );
  }

  .kallays-popular-serials {
    padding-top: 30px;

    h3 {
      @include fontStyle(14px, $silver, 300);
      text-transform: uppercase;
    }

    .serials-slider {
      width: 100%;
      height: 222px;
      margin-top: 25px;
      position: relative;

      .serial {
        width: 220px !important;
        height: 220px;
        background-color: $red;
        margin-right: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center top;
        }
      }

      .slick-prev {
        position: absolute;
        top: 110px;
        left: -45px;
      }

      .slick-next {
        position: absolute;
        top: 110px;
        right: -45px;
      }
    }
  }
}

#bestMovie{
  @include backgroundImage('../images/best-movie.png');
  position: relative;
  height: 600px;
  padding: 7.6% 0;

  &::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: $black;
    opacity: 0.8;
  }

  .movie-description{
    position: relative;
    height: auto;

    .movie-short-description{
      width: 400px;
    }
  }
}

.single-part{
  width: 100%;
  height: 530px;
  padding: 30px 0;
  @include backgroundImage('../images/single-movie-bg1.png');
}

#movieBlogs{
  width: 100%;
  height: 1365px;
  background: $pearl;

  .blogs-area{
    .blog-top{
      width: 100%;
      height: 520px;
      .blog-left{
        width: 100%;
        height: 100%;
        .blog-image{
          width: 100%;
          height: 100%;
          overflow: hidden;
          
          img{
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .blog-shotContent{
          h2{
            @include fontStyle(35px, $white, 600);
            text-transform: uppercase;
            padding: 55px 0 30px;
          }
          p{
            @include fontStyle(14px, $silver, 300);
            padding-bottom: 5px;
          }
          a{
            @include fontStyle(14px, $white, 300);
            text-decoration: none;
            i{
              @include fontStyle(12px, $white, 300);
              padding-left: 5px;
            }
          }
        }
      }

      .blog-right{
        border-left: 1px solid $tundora;
        height: 100%;
        padding-left: 35px;
        .blog-item{
          width: 100%;
          @include displayFlex(flex, center, center, row);
          padding: 30px 0 0px;
          .blogItem-image{
            width: 85px;
            height: 85px;
            overflow: hidden;
            margin-right: 25px;
            img{
              width: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .blogItem-content{
            p{
              @include fontStyle(14px, $white, 600);
              margin: 0;
            }
            a{
              @include fontStyle(12px, $tundora, 600);
              text-decoration: none;
            }
          }
        }
      }
    }

    .blog-bottom{
      padding-top: 80px;
      .blog-items{
        width: 100%;
        position: relative;
        .blogItems-image{
          width: 100%;
          height: 400px;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
        }

        .blogItems-content{
          width: 100%;
          padding: 10px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.7);
          h3{
            @include fontStyle(16px, $white, 600);
            line-height: 24px;
            margin: 0;
          }
        }
      }
    }

    .load-more{
      padding-top: 55px;
      text-align: center;
      .movie-btn-two{
        @include buttonStyle(14px 22px, $mirage, $white);
        @include fontStyle(12px, '', 400);
        text-transform: uppercase;
        border: 1px solid $mirage;
        margin-right: 25px;
      
        i {
          padding-right: 10px;
        }
      }
    }
  }
}
