.kallays-movies{
  width: 100%;
  position: relative;

  .single-movie{
    padding: 80px 0;
    .singleMove-image{
      width: 100%;
      img{
        width: 100%;
      }
    }

    .singleMovie-content{
      .content-title{
        .title-text{
          h2{

          }

          li{

          }
        }

        .btn-rating{
          .movie-btn-two{
            i{}
          }

          .rating{
            i{

            }

            span{

            }
          }
        }
      }

      .content-description{
        p{

        }
      }
    }
  }
}