#kallayHeader{
  width: 100%;
  height: 1550px;
  position: relative;
  background: $pearl;

  &::before {
    content: '';
    width: 100%;
    height: 750px;
    position: absolute;
    top: 0;
    right: 0;
    @include backgroundImage('../images/header-background.png');
    
  }
}

.kallays-singleBlog{
  position: relative;
  padding-top: 50px;

  .singleBlog-content{
    width: 100%;
    .singleBlog-image{
      width: 100%;
      height: 500px;
      overflow: hidden;
      img{
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    .singleBlog-title{
      padding-top: 45px;
      h2{
        @include fontStyle(35px, $white, 600);
        text-transform: uppercase;
      }
    }

    .singleBlog-links{
      padding: 30px 0;
      @include displayFlex(flex, center, start, row);
      .links{
        padding-right: 15px;
        @include fontStyle(16px, $white, 600);
        i{
          padding-right: 8px;
        }
      }
    }

    .singleBlog-text{
      padding-bottom: 50px;
      p{
        @include fontStyle(14px, $silver, 400);
        padding-bottom: 10px;
      }
    }

    .singleBlog-share{
      padding-bottom: 50px;
      h3{
        @include fontStyle(14px, $white, 300);
        text-transform: uppercase;
      }

      .share{
        padding-top: 20px;
        i{
          @include fontStyle(16px, $white, 300);
          padding-right: 15px;
        }
      }
    }

    .singleBlog-nextPre{
      border-top: 1px solid $tundora;
      @include displayFlex(flex, center, space-between, row);

      .next{
        width: 340px;
      }
      .pre{
        @extend .next;
      }
    }
  }

  .kallays-sidebar{
    .sidebar-title{
      border-bottom: 1px solid $white;
      h3{
        @include fontStyle(18px, $white, 500);
        text-transform: uppercase;
        padding-bottom: 20px;
      }
    }
    .sidebar-search{
      margin-bottom: 40px;
      .input-group{
        border: 1px solid $white;
        padding: 10px;
        .form-control{
          background: none;
          border: none;
          @include fontStyle(14px, $white, 400);

          &:focus{
            outline: none;
            box-shadow: none;
          }

          &::placeholder{
            color: $white;
          }
        }
        .input-group-text{
          background: none;
          border-width: 0px 0px 0px 1px;
        }
      }
    }

    .sidebar-links{
      margin-bottom: 40px;
      li{
        list-style: none;
        padding-top: 15px;
        @include displayFlex(flex, center, start, row);
        span{
          width: 25px;
          height: 1px;
          display: block;
          background: $white;
          margin-right: 15px;
        }
        a{
          @include fontStyle(16px, $white, 400);
          text-decoration: none;
        }
      }
    }

    .sidebar-recentPost{
      margin-bottom: 40px;
      .post-items{
        .blog-item{
          padding: 12.5px 0;
          border-bottom: 1px solid $white; 
          
          &:last-child{
            border-bottom: 0px; 
          }
        }
      }
    }
  }
}