.kallays-hero {
  position: relative;
  z-index: 1;
  padding: 30px 0;

  .movie-image {
    text-align: center;

    img {
      -webkit-box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.48);
      -moz-box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.48);
      box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.48);
    }
  }
}

.movie-description {
  width: 100%;
  height: 495px;
  @include displayFlex(flex, left, center, column);

  .movie-tags {
    @include displayFlex(flex, left, none, row);

    .tag {
      border-radius: 2px;
      padding: 5px 9px;
      margin-right: 13px;

      p {
        margin: 0;
        @include fontStyle(14px, $white, 400);
        text-transform: uppercase;
      }

      &.tag-year {
        background: $buttercup;
      }

      &.tag-action {
        background: $blue;
      }

      &.tag-adventure {
        background: $flamePea;
      }
    }
  }

  .right-align {
    @extend .movie-tags;
    @include displayFlex(flex, left, end, row);
  }

  .movie-title {
    padding: 24px 0 30px;

    h1 {
      @include fontStyle(40px, $white, 600);
      margin: 0;
      text-transform: uppercase;
    }
  }

  .title-right {
    text-align: right;
  }

  .movie-short-description {
    padding-bottom: 35px;

    p {
      @include fontStyle(14px, $silver, 300);
      line-height: 23px;
      margin: 0;
    }
  }

  .description-right {
    text-align: right;
  }

  .movie-buttons {
    .movie-btn-one {
      @include buttonStyle(14px 22px, $red, $white);
      @include fontStyle(12px, '', 400);
      text-transform: uppercase;
      border: 1px solid $red;
      margin-right: 25px;

      i {
        padding-right: 10px;
      }
    }

    .movie-btn-two {
      @extend .movie-btn-one;
      @include buttonStyle(14px 22px, $black, $white);
      border: 1px solid $black;
    }
  }

  .button-right {
    text-align: right;
    .movie-btn-two {
      margin-right: 0;
    }
  }
}
